
 
 
 #example {
    padding: 1rem;
 }
.chat{
   justify-content: space-between;
}

.hide
{
   display: none;
   margin-left: 40%;
   
   
 
}
.ss::-webkit-scrollbar {
   display: none;
 }
 .ss {
   -ms-overflow-style: none;  /* IE and Edge */
   scrollbar-width: none;  /* Firefox */
 }
.jcl{
   margin: 4%;
}
.marginp{
   margin-left: 10%;
   margin-right:10%;
}
.buttonss{
   margin: 1%;
}
.hideIcon
{
   margin-left: 1%;
  
}

 .buttons
 {
    justify-content: left;
    margin-left: 0.8%;
    margin-right: 0.8%;
    margin-top:3%
 }

.inpuut
{
   border-radius: 10px;
   border-style:inset;
   border-color: black;
   padding: 1%;
}
 .cardd{
    width:100%;
 }
 hr.solid {
   border-top: 3px solid #bbb;
 }
 