.xpand{
  
    height:100%;
 
}
.sid
{
    flex:0.5;
}

.rig
{
  flex:1;

  height: 100%;
}
.head
{
    width: 200%;
}
.fulltile
{
    margin:3%;
}
.fulltile:hover
{
    margin:6%;
    background-color:aquamarine;
    border-radius: 20%;
    padding:10%;
}
.tile
{
    background-color: transparent;
    width:60%;
    margin-left: 3%;
 

}
.pp
{
    padding-top: 20%;
    background-color: transparent;
}

.madouter
{
    flex:2;
}
.sidebuttonss
{
    justify-content: center;

}

.buttonsbor
{
  cursor: pointer !important;


}
.buttonsbor:hover{
    cursor: pointer !important;
}